@keyframes dash {
	100% {
		stroke-dashoffset: 136;
	}
}

.styles_spinner__1uiLu {
	position: absolute;
    top: 50%;
    right: 50%;
	transform: translate(50%,-50%)
}

.react-spinner-loader-svg {
	& svg {
		-webkit-transform-origin: 50% 65%;
    	transform-origin: 50% 65%;
		width: 250px;
		height: 250px;

		& polygon {
			    stroke-dasharray: 17;
				-webkit-animation: dash 2.5s cubic-bezier(.35,.04,.63,.95) infinite;
				animation: dash 2.5s cubic-bezier(.35,.04,.63,.95) infinite;
		}
	}
	
}